In [1]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
FILE = os.path.join('dataset','shoes.csv')

In [3]:
data = pd.read_csv(FILE, index_col=False)
data.sample(20)

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
97002,2/7/19,Off-White,Nike-Air-Force-1-Low-Off-White-Volt,$461,$170,12/19/18,9.0,California
25587,5/11/18,Yeezy,Adidas-Yeezy-Boost-350-V2-Blue-Tint,$390,$220,12/16/17,10.0,Pennsylvania
54383,10/12/18,Yeezy,adidas-Yeezy-Boost-350-V2-Butter,$260,$220,6/30/18,13.0,Maryland
76144,12/17/18,Off-White,Nike-Zoom-Fly-Off-White-Black-Silver,$400,$170,10/13/18,14.0,Florida
1387,11/6/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,$422,$220,4/29/17,9.0,Florida
99387,2/12/19,Off-White,Nike-Air-Max-90-Off-White-Black,$528,$160,2/7/19,13.0,Wisconsin
60038,11/14/18,Off-White,Nike-Blazer-Mid-Off-White-All-Hallows-Eve,$576,$130,10/3/18,7.5,New York
46367,8/25/18,Yeezy,Adidas-Yeezy-Boost-350-V2-Beluga-2pt0,$425,$220,11/25/17,11.0,California
47148,8/30/18,Yeezy,adidas-Yeezy-Boost-350-V2-Butter,$267,$220,6/30/18,9.5,Ohio
79496,12/25/18,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,$260,$220,4/29/17,12.0,Washington
40960,7/31/18,Yeezy,Adidas-Yeezy-Boost-350-V2-Blue-Tint,$384,$220,12/16/17,8.5,California
58770,11/6/18,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,$256,$220,4/29/17,6.0,New York
21690,3/27/18,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,$963,$220,11/23/16,10.0,California
95420,2/4/19,Yeezy,Adidas-Yeezy-Boost-350-V2-Zebra,$350,$220,2/25/17,13.0,California
43514,8/10/18,Off-White,Nike-Air-Presto-Off-White-White-2018,$633,$160,8/3/18,10.0,Florida
33857,7/1/18,Yeezy,adidas-Yeezy-Boost-350-V2-Butter,$300,$220,6/30/18,7.0,New York
50196,9/26/18,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,$248,$220,4/29/17,10.5,Illinois
59731,11/13/18,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,$237,$220,4/29/17,12.0,Texas
51475,10/1/18,Yeezy,adidas-Yeezy-Boost-350-V2-Butter,$272,$220,6/30/18,5.5,Texas
90421,1/16/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static,$280,$220,12/27/18,7.0,Louisiana

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    99956 non-null  object
 1   Brand         99956 non-null  object
 2   Sneaker Name  99956 non-null  object
 3   Sale Price    99956 non-null  object
 4   Retail Price  99956 non-null  object
 5   Release Date  99956 non-null  object
 6   Shoe Size     99956 non-null  float64
 7   Buyer Region  99956 non-null  object
dtypes: float64(1), object(7)
memory usage: 6.1+ MB

In [5]:
data['Order Date'] = pd.to_datetime(data['Order Date'], format="%m/%d/%y")
data['Release Date'] = pd.to_datetime(data['Release Date'], format="%m/%d/%y")
data['Sale Price'] = data['Sale Price'].str.replace('$','').str.replace(',','').astype(dtype='float')
data['Retail Price'] = data['Retail Price'].str.replace('$','').str.replace(',','').astype(dtype='float')

/tmp/ipykernel_5713/4261576517.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Sale Price'] = data['Sale Price'].str.replace('$','').str.replace(',','').astype(dtype='float')
/tmp/ipykernel_5713/4261576517.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Retail Price'] = data['Retail Price'].str.replace('$','').str.replace(',','').astype(dtype='float')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    99956 non-null  datetime64[ns]
 1   Brand         99956 non-null  object
 2   Sneaker Name  99956 non-null  object
 3   Sale Price    99956 non-null  float64
 4   Retail Price  99956 non-null  float64
 5   Release Date  99956 non-null  datetime64[ns]
 6   Shoe Size     99956 non-null  float64
 7   Buyer Region  99956 non-null  object
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 6.1+ MB

In [7]:
data['Sneaker Name'] = data['Sneaker Name'].str.lower().str.replace('-',' ')
data['Sneaker Name'].unique()

array(['adidas yeezy boost 350 low v2 beluga',
       'adidas yeezy boost 350 v2 core black copper',
       'adidas yeezy boost 350 v2 core black green',
       'adidas yeezy boost 350 v2 core black red',
       'adidas yeezy boost 350 v2 core black red 2017',
       'adidas yeezy boost 350 v2 core black white',
       'adidas yeezy boost 350 v2 cream white',
       'adidas yeezy boost 350 v2 zebra',
       'adidas yeezy boost 350 low moonrock', 'nike air max 90 off white',
       'nike air presto off white', 'nike air vapormax off white',
       'air jordan 1 retro high off white chicago',
       'nike blazer mid off white',
       'adidas yeezy boost 350 low pirate black 2016',
       'adidas yeezy boost 350 low oxford tan',
       'adidas yeezy boost 350 low turtledove',
       'adidas yeezy boost 350 low pirate black 2015',
       'adidas yeezy boost 350 v2 semi frozen yellow',
       'nike air force 1 low off white', 'nike air max 97 off white',
       'nike air force 1 low virgil abloh off white af100',
       'nike react hyperdunk 2017 flyknit off white',
       'nike zoom fly off white', 'adidas yeezy boost 350 v2 beluga 2pt0',
       'adidas yeezy boost 350 v2 blue tint',
       'nike air vapormax off white 2018',
       'air jordan 1 retro high off white white',
       'nike air vapormax off white black',
       'air jordan 1 retro high off white university blue',
       'nike air presto off white black 2018',
       'nike air presto off white white 2018',
       'nike zoom fly mercurial off white black',
       'nike zoom fly mercurial off white total orange',
       'adidas yeezy boost 350 v2 butter',
       'nike air max 97 off white elemental rose queen',
       'nike blazer mid off white all hallows eve',
       'nike blazer mid off white grim reaper',
       'adidas yeezy boost 350 v2 sesame',
       'nike blazer mid off white wolf grey',
       'nike air max 97 off white menta',
       'nike air max 97 off white black',
       'nike zoom fly off white black silver',
       'nike zoom fly off white pink',
       'nike air force 1 low off white volt',
       'nike air force 1 low off white black white',
       'adidas yeezy boost 350 v2 static',
       'adidas yeezy boost 350 v2 static reflective',
       'nike air max 90 off white black',
       'nike air max 90 off white desert ore'], dtype=object)

In [8]:
def extraer_marca(variable, lista_de_marcas):
    """
        Esta función busca una marca específica dentro de un valor de columna y devuelve esa marca
        si se encuentra en la lista de marcas proporcionadas.

        Parámetros:
        - columna: El valor de la columna donde se buscará la marca.
        - lista_de_marcas: Una lista de marcas que se buscarán en la columna.

        Retorna:
        - La marca encontrada en la lista_de_marcas si se encuentra en la columna. Si ninguna marca
        es encontrada devuelve "nike".
    """
    
    # Itera sobre cada marca en la lista de marcas proporcionada
    for marca in lista_de_marcas:
        if marca in variable:
            return marca
    
    return "nike"

lista_de_marcas = ['nike', 'adidas']
data['Marca'] = data['Sneaker Name'].str.lower().apply(extraer_marca, lista_de_marcas=lista_de_marcas)

In [10]:
# Zapatillas Nike
nike = data[data['Marca']=='nike']
#Verificando si todas las zapatillas Nike son versión Off-White
nike['Sneaker Name'].str.contains('off white').all()

True

In [11]:
adidas = data[data['Marca']=='adidas']
adidas['Sneaker Name'].unique()

array(['adidas yeezy boost 350 low v2 beluga',
       'adidas yeezy boost 350 v2 core black copper',
       'adidas yeezy boost 350 v2 core black green',
       'adidas yeezy boost 350 v2 core black red',
       'adidas yeezy boost 350 v2 core black red 2017',
       'adidas yeezy boost 350 v2 core black white',
       'adidas yeezy boost 350 v2 cream white',
       'adidas yeezy boost 350 v2 zebra',
       'adidas yeezy boost 350 low moonrock',
       'adidas yeezy boost 350 low pirate black 2016',
       'adidas yeezy boost 350 low oxford tan',
       'adidas yeezy boost 350 low turtledove',
       'adidas yeezy boost 350 low pirate black 2015',
       'adidas yeezy boost 350 v2 semi frozen yellow',
       'adidas yeezy boost 350 v2 beluga 2pt0',
       'adidas yeezy boost 350 v2 blue tint',
       'adidas yeezy boost 350 v2 butter',
       'adidas yeezy boost 350 v2 sesame',
       'adidas yeezy boost 350 v2 static',
       'adidas yeezy boost 350 v2 static reflective'], dtype=object)

In [ ]:
lista_de_modelos = ["air force 1", "zoom fly", "zoom fly mercurial", "air max 97", 
                    "air max 90", "yeezy boost 350 v2 low", "blazer mid", "air presto",
                   "air vapormax", "air jordan retro 1 high", "air jordan retro 1 low"]

In [13]:
def extraer_modelo(var, lista_de_modelos):
    """
        Esta función busca un modelo específico dentro de un valor de columna y devuelve
        ese modelo si se encuentra en la listas de modelos proporcionada.

        Parámetros:
        - columna: El valor de la columna donde se buscará el modelo.
        - lista_de_modelos: Una lista de modelos que se buscarán en la columna.

        Retorna:
        - El modelo encontrado en la lista_de_modelos si se encuentra en la columna. Si ningun valor
        es encontrado, devuelve el mismo valor. 
    """

    # Itera sobre cada modelo en lista de modelos proporcionada
    for modelo in lista_de_modelos:
        var = var.apply(lambda x: modelo if modelo in x else x)

    return var


# Ejemplo de uso
lista_de_modelos = ["yeezy boost 350 v2", "air force 1", "zoom fly", "zoom fly mercurial", "air max 97", 
                    "air max 90", "blazer mid", "air presto", "yeezy boost 350 low", "air vapormax", 
                    "air jordan 1 retro", "air jordan retro 1", "react hyperdunk"]


data['Modelo'] = extraer_modelo(data['Sneaker Name'], lista_de_modelos)

In [14]:
for modelo in data['Modelo'].unique():
    print(modelo)

yeezy boost 350 low
yeezy boost 350 v2
air max 90
air presto
air vapormax
air jordan 1 retro
blazer mid
air force 1
air max 97
react hyperdunk
zoom fly

In [16]:
data['Modelo']

0        yeezy boost 350 low
1         yeezy boost 350 v2
2         yeezy boost 350 v2
3         yeezy boost 350 v2
4         yeezy boost 350 v2
                ...
99951     yeezy boost 350 v2
99952     yeezy boost 350 v2
99953     yeezy boost 350 v2
99954     yeezy boost 350 v2
99955     yeezy boost 350 v2
Name: Modelo, Length: 99956, dtype: object