In [1]:
import os
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
FILE = os.path.join('dataset','shoes.csv')

In [3]:
df = pd.read_csv(FILE, index_col=False)
df

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,"$1,097",$220,9/24/16,11.0,California
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,$685,$220,11/23/16,11.0,California
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,$690,$220,11/23/16,11.0,California
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,"$1,075",$220,11/23/16,11.5,Kentucky
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,$828,$220,2/11/17,11.0,Rhode Island
...,...,...,...,...,...,...,...,...
99951,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$565,$220,12/26/18,8.0,Oregon
99952,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$598,$220,12/26/18,8.5,California
99953,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$605,$220,12/26/18,5.5,New York
99954,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$650,$220,12/26/18,11.0,California
99955,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$640,$220,12/26/18,11.5,Texas

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    99956 non-null  object
 1   Brand         99956 non-null  object
 2   Sneaker Name  99956 non-null  object
 3   Sale Price    99956 non-null  object
 4   Retail Price  99956 non-null  object
 5   Release Date  99956 non-null  object
 6   Shoe Size     99956 non-null  float64
 7   Buyer Region  99956 non-null  object
dtypes: float64(1), object(7)
memory usage: 6.1+ MB

In [5]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format="%m/%d/%y")
df['Release Date'] = pd.to_datetime(df['Release Date'], format="%m/%d/%y")
df['Sale Price'] = df['Sale Price'].str.replace('$','').str.replace(',','').astype(dtype='float')
df['Retail Price'] = df['Retail Price'].str.replace('$','').str.replace(',','').astype(dtype='float')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    99956 non-null  datetime64[ns]
 1   Brand         99956 non-null  object
 2   Sneaker Name  99956 non-null  object
 3   Sale Price    99956 non-null  float64
 4   Retail Price  99956 non-null  float64
 5   Release Date  99956 non-null  datetime64[ns]
 6   Shoe Size     99956 non-null  float64
 7   Buyer Region  99956 non-null  object
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 6.1+ MB

In [7]:
df['Sneaker Name'] = df['Sneaker Name'].str.lower().str.replace('-',' ')
df['Sneaker Name'].unique()

array(['adidas yeezy boost 350 low v2 beluga',
       'adidas yeezy boost 350 v2 core black copper',
       'adidas yeezy boost 350 v2 core black green',
       'adidas yeezy boost 350 v2 core black red',
       'adidas yeezy boost 350 v2 core black red 2017',
       'adidas yeezy boost 350 v2 core black white',
       'adidas yeezy boost 350 v2 cream white',
       'adidas yeezy boost 350 v2 zebra',
       'adidas yeezy boost 350 low moonrock', 'nike air max 90 off white',
       'nike air presto off white', 'nike air vapormax off white',
       'air jordan 1 retro high off white chicago',
       'nike blazer mid off white',
       'adidas yeezy boost 350 low pirate black 2016',
       'adidas yeezy boost 350 low oxford tan',
       'adidas yeezy boost 350 low turtledove',
       'adidas yeezy boost 350 low pirate black 2015',
       'adidas yeezy boost 350 v2 semi frozen yellow',
       'nike air force 1 low off white', 'nike air max 97 off white',
       'nike air force 1 low virgil abloh off white af100',
       'nike react hyperdunk 2017 flyknit off white',
       'nike zoom fly off white', 'adidas yeezy boost 350 v2 beluga 2pt0',
       'adidas yeezy boost 350 v2 blue tint',
       'nike air vapormax off white 2018',
       'air jordan 1 retro high off white white',
       'nike air vapormax off white black',
       'air jordan 1 retro high off white university blue',
       'nike air presto off white black 2018',
       'nike air presto off white white 2018',
       'nike zoom fly mercurial off white black',
       'nike zoom fly mercurial off white total orange',
       'adidas yeezy boost 350 v2 butter',
       'nike air max 97 off white elemental rose queen',
       'nike blazer mid off white all hallows eve',
       'nike blazer mid off white grim reaper',
       'adidas yeezy boost 350 v2 sesame',
       'nike blazer mid off white wolf grey',
       'nike air max 97 off white menta',
       'nike air max 97 off white black',
       'nike zoom fly off white black silver',
       'nike zoom fly off white pink',
       'nike air force 1 low off white volt',
       'nike air force 1 low off white black white',
       'adidas yeezy boost 350 v2 static',
       'adidas yeezy boost 350 v2 static reflective',
       'nike air max 90 off white black',
       'nike air max 90 off white desert ore'], dtype=object)

In [8]:
def extraer_marca(df, lista_de_marcas):
    """
        Esta funciÃ³n busca una marca especÃ­fica dentro de un valor de columna y devuelve esa marca
        si se encuentra en la lista de marcas proporcionadas.

        ParÃ¡metros:
        - columna: El valor de la columna donde se buscarÃ¡ la marca.
        - lista_de_marcas: Una lista de marcas que se buscarÃ¡n en la columna.

        Retorna:
        - La marca encontrada en la lista_de_marcas si se encuentra en la columna. Si ninguna marca
        es encontrada devuelve "nike".
    """
    
    # Itera sobre cada marca en la lista de marcas proporcionada
    for marca in lista_de_marcas:
        if marca in df:
            return marca
    
    return "nike"

lista_de_marcas = ['nike', 'adidas']
df['Marca'] = df['Sneaker Name'].str.lower().apply(extraer_marca, lista_de_marcas=lista_de_marcas)

In [9]:
# Zapatillas Nike
nike = df[df['Marca']=='nike']
#Verificando si todas las zapatillas Nike son versiÃ³n Off-White
nike['Sneaker Name'].str.contains('off white').all()

True

In [10]:
adidas = df[df['Marca']=='adidas']
adidas['Sneaker Name'].unique()

array(['adidas yeezy boost 350 low v2 beluga',
       'adidas yeezy boost 350 v2 core black copper',
       'adidas yeezy boost 350 v2 core black green',
       'adidas yeezy boost 350 v2 core black red',
       'adidas yeezy boost 350 v2 core black red 2017',
       'adidas yeezy boost 350 v2 core black white',
       'adidas yeezy boost 350 v2 cream white',
       'adidas yeezy boost 350 v2 zebra',
       'adidas yeezy boost 350 low moonrock',
       'adidas yeezy boost 350 low pirate black 2016',
       'adidas yeezy boost 350 low oxford tan',
       'adidas yeezy boost 350 low turtledove',
       'adidas yeezy boost 350 low pirate black 2015',
       'adidas yeezy boost 350 v2 semi frozen yellow',
       'adidas yeezy boost 350 v2 beluga 2pt0',
       'adidas yeezy boost 350 v2 blue tint',
       'adidas yeezy boost 350 v2 butter',
       'adidas yeezy boost 350 v2 sesame',
       'adidas yeezy boost 350 v2 static',
       'adidas yeezy boost 350 v2 static reflective'], dtype=object)

In [11]:
lista_de_modelos = ["air force 1", "zoom fly", "zoom fly mercurial", "air max 97", 
                    "air max 90", "yeezy boost 350 v2 low", "blazer mid", "air presto",
                   "air vapormax", "air jordan retro 1 high", "air jordan retro 1 low"]

In [12]:
def extraer_modelo(df, lista_de_modelos):
        """
        Esta funciÃ³n busca un modelo especÃ­fico dentro de un valor de columna y devuelve
        ese modelo si se encuentra en la listas de modelos proporcionada.

        ParÃ¡metros:
        - columna: El valor de la columna donde se buscarÃ¡ el modelo.
        - lista_de_modelos: Una lista de modelos que se buscarÃ¡n en la columna.

        Retorna:
        - El modelo encontrado en la lista_de_modelos si se encuentra en la columna. Si ningun valor
        es encontrado, devuelve el mismo valor. 
    """

    # Itera sobre cada modelo en lista de modelos proporcionada
    for modelo in lista_de_modelos:
        df = df.apply(lambda x: modelo if modelo in x else x)

    return df

# Ejemplo de uso
lista_de_modelos = ["yeezy boost 350 v2", "air force 1", "zoom fly", "zoom fly mercurial", "air max 97", 
                    "air max 90", "blazer mid", "air presto", "yeezy boost 350 low", "air vapormax", 
                    "air jordan 1 retro", "air jordan retro 1", "react hyperdunk"]


df['Modelo'] = extraer_modelo(df['Sneaker Name'], lista_de_modelos)

In [13]:
for x in df['Modelo'].unique():
    print(x)

yeezy boost 350 low
yeezy boost 350 v2
air max 90
air presto
air vapormax
air jordan 1 retro
blazer mid
air force 1
air max 97
react hyperdunk
zoom fly